body{
  background-color: black;
  font-family: "Source Code Pro", monospace;
  color: white;
  max-width: 1440px;
 }
 
 
 h1 {
  font-family: "Poppins", sans-serif;
  font-size: 84px !important;
 }

 nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 15px 5%;
  position: relative;
 }

 .logo {
  height: auto;
  width: auto;
}

 .links{
  list-style: none;
  display: flex;
  gap: 28px;
  margin: 0;
  padding: 0;
 }

 .links li {
  display: inline;
}

.links li a{
  color:white;
  text-decoration: none;
}

.links li a:hover{
  text-decoration: underline; 
}


.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}






 
















 main{
  width: 100vw;
 }
 
 main div{
  display: flex;
  width: 90%;
  height: auto;
  justify-content: center;
  align-items: center;
 }
 
 
 .left{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  height: auto;
  margin-left: 142px;
 }
 
 
 .left p{
  max-width: 410px;
  font-size: 22px;
  font-family: "Source Code Pro", monospace;
 }
 
 
 .right{
  width: 50%;
  height: auto;
 }
 
 
 .right picture {
  width: 100%;
  height: auto;
  display: block; 
 }
 







 @media (max-width:320px) {

 

  .links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 60px;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 5px;
    width: 150px;
    transition: all 0.3s ease-in-out;
  }

  .links.active {
    display: flex !important;
    opacity: 1;
  }
  .hamburger {
    display: block;
  }

  .links li {
    text-align: center;
    padding: 10px;
  }
  .links li a {
    color: white;
    text-decoration: none;
    display: block;
  }



   main{
    width: 100vw;
    
   }
 
   
  main div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-top: 103px;
    gap: 80px;
   }

 
 .left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  margin-left: 0;
  padding: 0;


 }
 
 h1 {
  font-family: "Poppins", sans-serif;
  font-size: 36px !important;
  margin-bottom: 10px;
 }

 .left p{
  font-size: 12px;
  max-width: 211px;
  font-weight: 100;
  text-align: center; 
  margin-top: 0;
  margin-bottom: 0;
 }
 
 
 .right{
  display: flex;
  width: 100vw;
  height: auto;
  justify-content: center;
  align-items: center;
 }
 
 
 .right picture {
  width: 100%;
  height: auto;
  display: block; 
  justify-content: center;
  align-items: center;
 }
 

 }



 @media (max-width:877px) {

  





  .links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 60px;
    padding: 10px;
    border-radius: 5px;
    width: 150px;
    transition: all 0.3s ease-in-out;
  }



  .links.active {
    display: flex !important;
    opacity: 1;
  }
  .hamburger {
    display: block;
  }

  .links li {
    text-align: center;
    padding: 10px;
  }
  .links li a {
    color: white;
    text-decoration: none;
    display: block;
  }













   main{
    width: 100vw;
    
   }
 
   
  main div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    gap: 80px;
   }

 
 .left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  margin-left: 0;
  padding: 0;


 }
 
 h1 {
  font-family: "Poppins", sans-serif;
  font-size: 72px !important;
  margin-bottom: 10px;
 }

 .left p{
  font-size: 22px;
  max-width: 573px;
  font-weight: 100;
  text-align: center; 
  margin-top: 0;
  margin-bottom: 0;
 }
 
 
 .right{
  display: flex;
  width: 100vw;
  height: auto;
  justify-content: center;
  align-items: center;
 }
 
 
 .right picture {
  width: 100%;
  height: auto;
  display: block; 
  justify-content: center;
  align-items: center;
 }
 
 

 }